a {
    text-decoration: none;
}

/*button {*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    background: darkslategray;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*}*/

/*input[type=button] {*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    background: darkslategray;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*}*/



.col-col {
    /*position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;*/
    /*-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;*/
    max-width:33.333333%;
}
/*.col-col-2 { display: inline-flex; }*/

.rowrow{--bs-gutter-x: 1.5rem;--bs-gutter-y: 0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y)*-1);margin-right:calc(var(--bs-gutter-x)/-2);margin-left:calc(var(--bs-gutter-x)/-2)}
.col-md-10{flex:0 0 auto;width:83.3333333333%}
.h-100{height:100% !important}



/*-- 여기서부터는 테이블 거 복붙*/
.ftco-section {
    padding: 7em 0; }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
@media (min-width: 576px) {
    .container {
        max-width: 540px; } }
@media (min-width: 768px) {
    .container {
        max-width: 720px; } }
@media (min-width: 992px) {
    .container {
        max-width: 960px; } }
@media (min-width: 1200px) {
    .container {
        max-width: 1140px; } }

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }

.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important; }

.text-center {
    text-align: center !important; }

.table-wrap {
    overflow-x: scroll; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000; }

.table {
    min-width: 1000px !important;
    width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29); }
@media (prefers-reduced-motion: reduce) {
    .table {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
.table thead th {
    border: none;
    padding: 30px;
    font-size: 14px;
    color: #000;
    border-bottom: 2px solid #ececec;
    background: #fff; }
.table tbody tr {
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
    border-bottom: 2px solid #ececec;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
    .table tbody tr {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
.table tbody th, .table tbody td {
    border: none;
    padding: 30px;
    font-size: 14px; }
.table tbody td.acc {
    background: #f3f3f3;
    border: none; }
.table tbody td .fa {
    font-size: 12px;
    color: #28a745; }

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075); }